.App {
  display: flex;
  overflow: hidden;
  background-color: #2ec4b6;
}

.App > button {
  position: fixed;
  right: 20px;
  top: 20px;
  background-color: #e71d36;
}

@media (max-width: 1250px) {
  .App {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
  }
}
