.EducationFormItem {
  padding: 30% 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.EducationFormItem input,
.EducationFormItem textarea {
  border: 1px solid gray;
  height: 3em;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.EducationFormItem textarea {
  height: 10em;
}

label {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 30px;
}

.btn {
  color: #fdfffc;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.4s ease-in;
}

.addEntry {
  background-color: #2ec4b6;
  margin-right: 20px;
}

.deleteEntry {
  background-color: #e71d36;
}

.addEntry:hover {
  background-color: #2a978c;
  margin-right: 20px;
}

.deleteEntry:hover {
  background-color: #b30f22;
}

.addDeleteButtons {
  display: flex;
  margin-top: 30px;
}
